.header {
  background-color: crimson;
  color: darkgrey;
  margin-bottom: 20px;
  padding-top: 5px;
  height: 50px;
}

.sidebar-left {
  border: 1px solid red;
}

.posts-main {
  margin-left: auto;
  border: 3px dotted green;
}

.post-box {
  margin: auto;
}

.comment-count, .comment-author {
  display: inline-block;
}

.post-votes, .post-comments {
  float: right;
}

a {
  color: crimson;
}

a.app-title {
  text-decoration: none;
  color: darkgrey;
}

.category-list {
  list-style-type: none;
  padding: 0;
}

.btn-circle {
  border-radius: 50%;
}

.sortbox {
  margin-top: 15px;
  margin-left: auto; 
}

.addNewPost {
  margin-top: 15px;
}

.custom-select {
  box-shadow: 2px 2px 3px 2px black;
}

.delete-button {
  margin-left: 10px;
}