.header {
  background-color: crimson;
  color: darkgrey;
  margin-bottom: 20px;
  padding-top: 5px;
  height: 50px;
}

.sidebar-left {
  border: 1px solid red;
}

.posts-main {
  margin-left: auto;
  border: 3px dotted green;
}

.post-box {
  margin: auto;
}

.comment-count {
  display: inline-block;
}

.post-votes {
  float: right;
}

a {
  color: crimson;
}

.category-list {
  list-style-type: none;
  padding: 0;
}

.btn-circle {
  border-radius: 50%;
}